.card-header{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: #00b211;
}

th{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

tbody{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h1, h3, h4{
    font-family: 'Poppins', sans-serif;
    color: white;
}


.sideborder{
    border-right-style: solid;
    border-color: grey;
    border-width: thin;
    box-shadow: 1px 2px #888888;

}

.background{
    background-image: 'url(./images/logo.png)';
    background-repeat: no-repeat;
    background-size: 200px;
}
